
.name {
  font-size: 12px;
}

.content-wrapper {
  height: 100vh;
}

.route-container {
  width: 100%;
  padding-left: 200px;
}

.sidebar-container {
  width: 200px;
  position: absolute;
  height: 100%;
}

.topbar-title-text {
  font-size: 30px;
  margin-left: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.transparent-button {
  background-color: transparent !important;
  color: black !important;
  border: 0 !important;
}

.transparent-button:hover {
  background-color: rgba(9,30,66,.08) !important;
  color: #172b4d !important;
}

.transparent-button:focus {
  box-shadow: 0 0 0 0 !important;
}

.hsla-button {
  background-color: hsla(0,0%,100%,.24) !important;
  cursor: pointer !important;
}

.hsla-button:hover {
  background-color: rgba(9,30,66,.08) !important;
  color: white !important;
}

.hsla-button:focus {
  box-shadow: 0 0 0 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.team-image-container {
  background-color: #dfdfdf;
  border-radius: 4px;
}

.team-image {
  width: 100px;
  height: 100px;
}

.member-owner {
    position: absolute;
    right: 0px;
    color: blue;
    font-size: 20px;
}

.save-file-button {
  text-align: center;
  padding: 6px 23px;
  background: #3f4257;
  border-radius: 30px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  outline: none;
  border: none;
  width: fit-content;
  margin: auto;
}