.name {
  font-size: 12px;
}

.topbar-title-text {
  font-size: 30px;
  margin-left: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.transparent-button {
  background-color: transparent !important;
  color: black !important;
  border: 0 !important;
}

.transparent-button:hover {
  background-color: rgba(9,30,66,.08) !important;
  color: #172b4d !important;
}

.transparent-button:focus {
  box-shadow: 0 0 0 0 !important;
}

.hsla-button {
  background-color: hsla(0,0%,100%,.24) !important;
  cursor: pointer !important;
}

.hsla-button:hover {
  background-color: rgba(9,30,66,.08) !important;
  color: white !important;
}

.hsla-button:focus {
  box-shadow: 0 0 0 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}